{% extends "body.html" %}
{% block title %} Bombardier {% endblock %}
{% block modelteaser %}

  <div class="model-container">
    <img class="model-image" src=" {{url_for('static', filename='images/bombardier/crj200.jpg')}} ">
    <h2><a href=" {{url_for('bombardier_model_crj200')}} ">Bombardier CRJ200</a></h2>
    <ul class="model-teaser">
      <li>Number of engines: 2</li>
      <li>Number of seats: 50</li>
      <li>Range: 1,644 nm</li>
      <li>Operators: <br> Lufthansa  <br> Air Nostrum <br> SA Express</li>
      <li>Body: Narrow-body</li>
    </ul>
  </div>

  <div class="model-container">
    <img class="model-image" src=" {{url_for('static',filename='images/bombardier/crj900.jpg')}} ">
    <h2><a href=" {{url_for('bombardier_model_crj900')}} ">Bombardier CRJ900</a></h2>
    <ul class="model-teaser">
      <li>Number of engines: 2</li>
      <li>Number of seats: 76-90</li>
      <li>Range: 1,553 nm</li>
      <li>Operators: <br> Lufthansa <br> Air Nostrum <br> Delta Airlines </li>
      <li>Body: Narrow-body</li>
    </ul>
  </div>

  <div class="model-container">
    <img class="model-image" src=" {{url_for('static',filename='images/bombardier/cseries.jpg')}} ">
    <h2><a href=" {{url_for('bombardier_model_cseries')}} ">Bombardier CSeries</a></h2>
    <ul class="model-teaser">
      <li>Number of engines: 2</li>
      <li>Number of seats: 110-135</li>
      <li>Range: 3,100-3,300 nm</li>
      <li>Operators: <br> Delta Airlines <br> Korean Air <br> Air Canada </li>
      <li>Body: Narrow-body</li>
    </ul>
  </div>

  <div class="model-container">
    <img class="model-image" src=" {{url_for('static',filename='images/bombardier/dash8.jpg')}} ">
    <h2><a href=" {{url_for('bombardier_model_dash8')}} ">Bombardier Dash 8</a></h2>
    <ul class="model-teaser">
      <li>Number of engines: 2</li>
      <li>Number of seats: 39-78</li>
      <li>Range: 924-1,125 nm</li>
      <li>Operators: <br> ANA <br> Flybe <br> SA Express </li>
      <li>Body: Narrow-body</li>
    </ul>
  </div>

{% endblock %}
